{{ define "base" }}
<!doctype html>
<html class="h-100" lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}{{ .title }}{{ end }}</title>
  <link rel="canonical" href="{{ block "canonical" . }}{{ end }}">
  <link href="https://fornpunkt.se/static/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fornpunkt.se/static/style.css">
</head>
<body class="d-flex flex-column h-100">
    {{ include "includes/navbar.html" . }}
    {{ block "content" . }}{{ end }}
    {{ include "includes/footer.html" . }}
    <script src="https://fornpunkt.se/static/bootstrap.min.js"></script>
</body>
</html>
{{ end }}
