<div style="background: 0/cover url(https://fornpunkt.se/static/fp-contours.svg); transform: scale(-1);" class="bg-primary d-print-none mt-auto py-5">
  <footer class="text-white container" style="transform: scale(-1);">
    <div class="row">
      <div class="col-6 col-lg-2 mb-3">
        <h5>FornPunkt</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{{ config.Metadata.fornpunkt_root }}/dok/om-fornpunkt/" class="nav-link p-0 text-white">Om FornPunkt</a></li>
          <li class="nav-item mb-2"><a href="mailto:hej@fornpunkt.se"
              class="nav-link p-0 text-white">Kontakt</a></li>
          <li class="nav-item mb-2"><a href="{{ config.Metadata.fornpunkt_root }}/dok/andringslogg/" class="nav-link p-0 text-white">Ändringslogg</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Integrationer</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://addons.mozilla.org/sv-SE/firefox/addon/fornpunkt/"
              class="nav-link p-0 text-white">Fornsök</a></li>
          <li class="nav-item mb-2"><a href="https://commons.wikimedia.org/wiki/User:Abbe98/FornPunkt"
              class="nav-link p-0 text-white">Wikimedia Commons</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Utforska</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{{ config.Metadata.fornpunkt_root }}/karta" class="nav-link p-0 text-white">Karta</a></li>
          <li class="nav-item mb-2"><a href="{{ config.Metadata.fornpunkt_root }}/taggar" class="nav-link p-0 text-white">Taggar</a></li>
        </ul>
      </div>
      <div class="col-lg-5 offset-lg-1 mb-3">
        <h5>Säg hej!</h5>
        <p>Vill du ha support? sammarbeta? eller bara säga hej? Hör av dig!</p>
        <div class="text-center">
          <a class="h2 text-reset text-decoration-none" href="mailto:hej@fornpunkt.se">hej@fornpunkt.se</a>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4">

      <ul class="list-unstyled d-flex m-0">
        <li class="ms-3"><a class="link-light" href="https://github.com/fornpunkt/"><svg
              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
            </svg></svg></a></li>
        <li class="ms-3"><a class="link-light" href="https://www.youtube.com/channel/UC8xwAilU1c9MA_Jcr_y6W5g"><svg
              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path
                d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
            </svg></a></li>
      </ul>
    </div>
  </footer>
</div>