<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ config.Metadata.data_portal_root }}">Dataportal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Öppna/stäng meny">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <div>
        <a class="btn btn-sm btn-primary fw-bold" href="{{ config.Metadata.fornpunkt_root }}">Till FornPunkt</a>
      </div>
    </div>
  </div>
</nav>