{{ template "base" . }}

{{ define "title" }}Dataportal - FornPunkt{{ end }}

{{ define "content" }}

<div class="bg-primary" style="background: 0/cover url({{ config.Metadata.fornpunkt_root }}/static/fp-contours.svg);">
  <div class="container-lg position-relative text-center text-white py-5">
    <h1>Data och tjänster från FornPunkt.se</h1>
    <p>Kulturlämningsdata, historiska kartor, fynd, bilder och mycket mer. Allt som öppen data.</p>
  </div>
</div>

<div class="container-lg">
  <div class="row py-5 gx-8">

    <div class="col-md-4">
      <div class="card text-bg-primary">
        <div class="card-body">
          <h2 class="card-title h5">GeoJSON</h2>
          <p class="card-text">Lämningar registrerade i FornPunkt som GeoJSON för GIS-verktyg och webbtjänster.</p>
          <a href="fornpunkt-geojson-api" class="btn btn-secondary">Läs mer</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-bg-primary">
        <div class="card-body">
          <h2 class="card-title h5">JSON-LD</h2>
          <p class="card-text">FornPunkts data som länkade data. JSON-LD är FornPunkts mest detaljrika format.</p>
          <a href="fornpunkt-json-ld-api" class="btn btn-secondary">Läs mer</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-bg-primary">
        <div class="card-body">
          <h2 class="card-title h5">Registrerings API</h2>
          <p class="card-text">Bygg integrationer som kan registrera och berika information direkt i FornPunkt.</p>
          <a href="fornpunkt-registrering" class="btn btn-secondary">Läs mer</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-lg">
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th>Namn</th>
          <th>Tillgänglighet</th>
          <th>Beskrivning</th>
          <th>Taggar</th>
        </tr>
      </thead>
      <tbody>

    {{ range . }}
    <tr>
      <td>
          <div>
            <a href="{{ replace .dataset.String "https://fornpunkt.se/datasets#" "" 1 }}" class="text-body text-decoration-none"><div class="fw-bold">{{ .title }}</div></a>
              {{ if eq .type.String "http://schema.org/WebAPI" }}
              <small class="opacity-75">Tjänst</small>
              {{ else }}
              <small class="opacity-75">Nerladdning</small>
              {{ end }}
          </div>
      </td>
      <td>
        {{ if eq .access.String "http://publications.europa.eu/resource/authority/access-right/PUBLIC" }}
          <div class="badge rounded-pill text-bg-primary">Öppen</div>
        {{ else }}
          <div class="badge rounded-pill text-bg-secondary">Begränsad</div>
        {{ end }}
      </td>
      <td>{{ .description }}</td>
      <td><div class="badge rounded-pill text-bg-primary">{{ .tags }}</div></td>
    </tr>
    {{ end }}
    </tbody>
</table>
</div>

<div>
  <div class="container-lg position-relative">
    <div class="row py-5">
      <div class="d-none col-md-2 d-md-flex justify-content-center align-items-center">
        <img alt="CC0 logotyp" src="cc-zero.svg" height="100" width="100">
      </div>
      <div class="col-md-10 my-auto py-5">
        <h2 class="text-5xl font-bold" id="upphovsratt">Upphovsrätt</h2>
        <p class="py-6">All data i FornPunkts öppna datatjänster är licensierad under Creative Commons Zero (CC0). Det innebär att vi säger tack men nej tack till upphovsrätten så att du kan göra vad du vill med informationen. Vi rekommenderar ändå att du anger källa när det är möjligt och speciellt när informationen är skapad av volontärer.</p>
        <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" class="btn btn-primary">Läs mer om CC0</a>
      </div>
    </div>
  </div>
</div>
{{ end }}
