{{- template "base" . -}}

{{- define "title" -}}{{ .title }}{{- end -}}

{{- define "canonical" -}}{{ config.Metadata.data_portal_root }}{{ .slug }}/{{- end -}}

{{- define "description" -}}{{ .description }}{{- end -}}

{{- define "content" -}}
<div class="container-lg py-5">
  <div class="float-end">
    {{- if .standard -}}
      <a class="btn btn-primary btn-sm mt-2" href="{{ .standard }}">{{ .standard_title }}</a>
    {{- end -}}
    {{- if .media_type -}}
      <a class="btn btn-primary btn-sm mt-2 ms-1" href="{{ .media_type }}">{{ .media_type_title }}</a>
    {{- end -}}
  </div>
  <h1>{{ .title }}</h1>
  {{- safe_html .documentation_fulltext -}}
 
  {{- $related_services := query "related-services.rq" .distribution -}}
  {{- if $related_services -}}
    <h2>Relaterade tjänser</h2>
    <ul>
      {{- range $related_services -}}
        <li><a href="{{ replace .service.String "https://fornpunkt.se/datasets#" config.Metadata.data_portal_root 1 }}/">{{ .service_name }}</a></li>
      {{- end -}}
    </ul>
  {{- end -}}
</div>

{{- if .download_url -}}
  <div class="d-grid col-6 mx-auto">
    <a class="btn btn-primary" href="{{ .download_url }}" download="datakatalog.ttl">Ladda ner</a>
  </div>
{{- end -}}

{{- if eq .access (uri "http://publications.europa.eu/resource/authority/access-right/RESTRICTED") -}}
<div class="container-lg">
  <div class="card mb-5 text-bg-primary">
    <div class="card-body">
        <h2 class="card-title h5">Begränsad tillgänglighet</h2>
        <p class="card-text">Åtkomsten till denna tjänst är begränsad. Vill du ha åtkomst får du gärna kontakta oss. Begränsningen kan bero på att den är experimentell, dyr i drift, kan massredigera information eller primärt tillgängliggör information ifrån en tredjepart.</p>
    </div>
  </div>
</div>
{{- end -}}

<div style="background-color: #30638E;" class="d-print-none mt-auto text-center py-5">
  <div class="text-white container">
    <p class="m-0">Vi jobbar ständigt på att utveckla existerande och nya tjänster för att kulturarvsinformation ska bli så tillgänglig som möjligt. <strong>Har du önskemål får du gärna höra av dig!</strong></p>
  </div>
</div>
{{- end -}}
